.form-image {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.form-image img {
    width: 100%;
}


@media (max-width:930px) {
    .form-image{
        display: none;
    }

    .box {
        width: 700px;
    }

    .form-box {
        width: 100%;
        border-radius: 20px;
    }
}